{% load static extra_settings  %}



<footer class="footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-form">
          <h4>Get in Touch</h4>
          <p class="form-message"></p>
          <form id="contact-form" action="#" method="POST">
                    <input type="text" name="name" placeholder="Enter Your Name" required="required">
                    <input type="email" name="email" placeholder="Enter Your Email" required="required">
                    <input type="text" name="subject" placeholder="Your Subject" required="required">
                    <textarea placeholder="Messege" name="message" required="required"></textarea>
            <input type="checkbox" name="terms" id="chbx" required="required">Принимаю условия обработки личной информации
                    <button type="submit" name="submit">Send Message</button>
                </form>
        </div>
      </div>
    <div class="col-lg-6">
      <div class="contact-address">
        <h4>Контактная информация</h4>
        <p>Вы можете с нами связаться при помощи звонка, либо обратиться напрямую в наш офис</p>
          <ul>
            <li>
              <div class="contact-address-icon">
                <i class="icofont icofont-headphone-alt"></i>
              </div>
              <div class="contact-address-info">
                <a href="callto:#">+7(938)-160-79-17</a>
              </div>
            </li>
            <li>
              <div class="contact-address-icon">
                <i class="icofont icofont-envelope"></i>
              </div>
              <div class="contact-address-info">
                <a href="mailto:#">Prom.sert1@mail.ru</a>
              </div>
            </li>
            <li>
              <div class="contact-address-icon">
                <i class="icofont icofont-web"></i>
              </div>
              <div class="contact-address-info">
                <p>Юр адрес: г. Ростов-на-Дону, улица Стачки 59, офис 406<br>
                  Физ адрес:г. Ростов-на-Дону, улица Стачки 59, офис 406</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
